.navbar
{
    padding: 6px;

    background-color: #7b4102;
}

.navbar-links
{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;

    text-align: right;
}

.navbar-link
{
    display: inline-block;
    > a
    {
        text-decoration: none;

        color: white;
    }
}
