/**
 * Colors
 */
$background-color: #FFFAF5;

$main-color: #AA7439;
$dark-color: #4B2700;
$text-color: $dark-color;

/**
 * Font sizes
 */
$font-size-big: 3em;

$border-radius-input: 3px;

$basic-spacing: 15px;